{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/assets/module/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/bootstrap.css'%}">
    <link href="{% static '/assets/module/font-awesome-4.7.0/css/font-awesome.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static '/assets/styles/main.css' %}">
    <script src="{% static '/assets/module/jquery-3.3.1.min.js' %}"></script>

    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script src="{% static '/assets/js/main.js' %}"></script>
    <script type="text/javascript">
        setInterval(
            function change() {
                document.getElementById('toChange1').innerHTML = Math.floor((Math.random() * 10000) + 500);
                document.getElementById('toChange2').innerHTML = Math.floor((Math.random() * 10000) + 1000);
                document.getElementById('high').innerHTML = Math.floor((Math.random() * 10500) + 10000);
                document.getElementById('low').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo1').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo2').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo3').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo4').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo5').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo6').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo7').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo8').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('lo9').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con1').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con2').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con3').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con4').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con5').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con6').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con7').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con8').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con9').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con10').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con11').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con12').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con13').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con14').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con15').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con16').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('con17').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn1').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn2').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn3').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn4').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn5').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn6').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn7').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn8').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('cn9').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('as1').innerHTML = Date();
                document.getElementById('as2').innerHTML = Date();
                document.getElementById('vb1').innerHTML = Math.floor((Math.random() * 1000) + 500);
                document.getElementById('vb').innerHTML = Math.floor((Math.random() * 1000) + 500);

            },
            3000);
    </script>
    <script type="text/javascript">
        window.$crisp = [];
        window.CRISP_WEBSITE_ID = "3f21d857-44a9-4e97-bfc9-49791ac414ea";
        (function() {
            d = document;
            s = d.createElement("script");
            s.src = "https://client.crisp.chat/l.js";
            s.async = 1;
            d.getElementsByTagName("head")[0].appendChild(s);
        })();
    </script>
</head>

<body class="p-1" style="overflow-x: auto;">

    <div class="row">

        <!--Left Side Container-->
        <div class="col-lg-3">
            <!--Top Buttons-->
            <div class="row">
                <div class="col-12">
                    <button class="btn activeButton">Favourites
                        <i class="fa fa-square-o iconColor ml-2"></i>
                        <i class="fa fa-times iconColor ml-1"></i>
                    </button>

                    <a href="#" class="btn nonActiveButton">Market Watch</a>

                    <a href="#" class="btn nonActiveButton">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card py-2">
                        <div class="px-2">
                            <!--Search Box-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-inline">
                                        <label for="email" class="mr-2">Add:</label>
                                        <input type="email" class="searchBox" id="email" placeholder="e.g. EURUSD">
                                        <button class="btn activeButton">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!--Labels-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="py-2 boder-bottom">
                                        <div class="row">
                                            <div class="col-3 col-border-right">
                                                <p>SYMBOL</p>
                                            </div>
                                            <div class="col-3 col-border-right">
                                                <p>CHANGE(1,2)</p>
                                            </div>
                                            <div class="col-3 col-border-right">
                                                <p>BID</p>
                                            </div>
                                            <div class="col-3">
                                                <p>ASK</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="leftHeight px-2">
                            <!--Price with icons-->
                            <div class="row">
                                <div class="col-12 py-2">
                                    <p><span class="greenSpan">US500</span> <span class="graySpan">IND</span> <span class="float-right">0.5
                                            <i class="fa fa-exclamation-circle ml-2"></i>
                                            <span class="ml-2">SL/TP</span>
                                        <i class="fa fa-edit ml-2"></i>
                                        <i class="fa fa-line-chart ml-2"></i>
                                        <i class="fa fa-trash-o ml-2"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <!--Sell Buy buttons-->
                            <div class="row">
                                <div class="col-12 pt-2">
                                    <div class="row">
                                        <div class="col-5 pr-1">
                                            <div class="redBox px-2 pt-2">
                                                <p class="boxUpperText text-right">Sell</p>
                                                <p class="boxLowerText text-left" id="toChange1">2347.2</p>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="grayBox">
                                                <p class="boxMiddleText text-center">1.00</p>
                                            </div>
                                        </div>
                                        <div class="col-5 pl-1">
                                            <div class="greenBox px-2 pt-2">
                                                <p class="boxUpperText text-left">Buy</p>
                                                <p class="boxLowerText text-right" style="right: 21px;" id="toChange2">2347.7</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Sell Buy price-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-5 pr-1">
                                            <button class="btn redBtn">Low: <span id="low"> 2343.2 </span> </button>
                                        </div>
                                        <div class="col-2">
                                            <p class="redText text-center pt-2">-0.18%</p>
                                        </div>
                                        <div class="col-5 pl-1">
                                            <button class="btn float-right greenBtn">High: <span id="high"> 2356.2 </span> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Sell Buy progress Bar-->
                            <div class="row py-3">
                                <div class="col-12 pt-2">
                                    <div class="row">
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-2">
                                                    <p class="text-center">5</p>
                                                </div>
                                                <div class="col-10">
                                                    <p class="progressPriceRight" id="lo">2347.2</p>
                                                    <div class="progress mt-2 right-progress">
                                                        <div class="progress-bar redProgressBar" style="width: 25%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="progressPriceLeft" id="lo1">2347.2</p>
                                                    <div class="progress mt-2">
                                                        <div class="progress-bar greenProgressBar" style="width: 25%;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <p class="text-center">3</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 pt-2">
                                    <div class="row">
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-2">
                                                    <p class="text-center">7</p>
                                                </div>
                                                <div class="col-10">
                                                    <p class="progressPriceRight" id="lo2">2346.2</p>
                                                    <div class="progress mt-2 right-progress">
                                                        <div class="progress-bar redProgressBar" style="width: 35%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="progressPriceLeft" id="lo3">2348.2</p>
                                                    <div class="progress mt-2">
                                                        <div class="progress-bar greenProgressBar" style="width: 35%;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <p class="text-center">6</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 pt-2">
                                    <div class="row">
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-2">
                                                    <p class="text-center">9</p>
                                                </div>
                                                <div class="col-10">
                                                    <p class="progressPriceRight" id="lo4">2346.2</p>
                                                    <div class="progress mt-2 right-progress">
                                                        <div class="progress-bar redProgressBar" style="width: 45%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="progressPriceLeft" id="lo5">2348.2</p>
                                                    <div class="progress mt-2">
                                                        <div class="progress-bar greenProgressBar" style="width: 45%;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <p class="text-center">9</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 pt-2">
                                    <div class="row">
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-2">
                                                    <p class="text-center">12</p>
                                                </div>
                                                <div class="col-10">
                                                    <p class="progressPriceRight" id="lo6">2346.2</p>
                                                    <div class="progress mt-2 right-progress">
                                                        <div class="progress-bar redProgressBar" style="width: 100%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="progressPriceLeft" id="lo7">2348.2</p>
                                                    <div class="progress mt-2">
                                                        <div class="progress-bar greenProgressBar" style="width: 100%;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <p class="text-center">12</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 pt-2">
                                    <div class="row">
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-2">
                                                    <p class="text-center">15</p>
                                                </div>
                                                <div class="col-10">
                                                    <p class="progressPriceRight" id="lo8">2346.2</p>
                                                    <div class="progress mt-2 right-progress">
                                                        <div class="progress-bar redProgressBar" style="width: 75%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 px-1">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="progressPriceLeft" id="lo9">2348.2</p>
                                                    <div class="progress mt-2">
                                                        <div class="progress-bar greenProgressBar" style="width: 75%;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <p class="text-center">10</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--Table-->
                            <div class="row">
                                <div class="col-12" style="overflow-x: auto;">
                                    <table class="table">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-down"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="red-text-color" id="cn1">+0.54%</td>
                                                <td id="con2">374.34</td>
                                                <td id="con3">374.73</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-up"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="green-text-color" id="cn2">+0.54%</td>
                                                <td id="con1">374.34</td>
                                                <td id="con4">374.73</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-up"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="red-text-color" id="cn3">+0.54%</td>
                                                <td id="con5">374.34</td>
                                                <td id="con6">374.73</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-up"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="green-text-color" id="cn4">+0.54%</td>
                                                <td id="con7">374.34</td>
                                                <td id="con8">374.73</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-up"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="green-text-color" id="cn5">+0.54%</td>
                                                <td id="con9">374.34</td>
                                                <td id="con10">374.73</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-up"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="green-text-color" id="cn6">+0.54%</td>
                                                <td id="con11">374.34</td>
                                                <td id="con12">374.73</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-up"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="green-text-color" id="cn7">+0.54%</td>
                                                <td id="con13">374.34</td>
                                                <td>374.73</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-up"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="green-text-color" id="cn8">+0.54%</td>
                                                <td id="con14">374.34</td>
                                                <td id="con15">374.73</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-chevron-up"></i>
                                                </td>
                                                <td>CORN</td>
                                                <td class="green-text-color" id="cn9">+0.54%</td>
                                                <td id="con16">374.34</td>
                                                <td id="con17">374.73</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-9 pl-2">
            <!--Top Buttons-->
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-8">
                            <button class="btn activeButton">Charts
                                <i class="fa fa-chevron-down ml-2" style="color: black;"></i>
                                <i class="fa fa-square-o iconColor ml-1"></i>
                                <i class="fa fa-times iconColor ml-1"></i>
                            </button>
                            <a href="#" class="btn nonActiveButton">News</a>
                            <a href="#" class="btn nonActiveButton">Calender</a>

                            <a href="#" class="btn nonActiveButton">Statistics</a>

                            <a href="#" class="btn nonActiveButton">Market Analysis</a>
                            <a href="#" id="button" class="btn nonActiveButton button">Deposit</a>



                            <a href="#" class="btn nonActiveButton button"><i class="fa fa-plus"></i> </a>

                            <div class="bg-modal">
                                <div class="modal-content">
                                    <div class="close">+</div>
                                    <!-- add the text here bro, for the deposit popup-->
                                    <form action="https://www.coinpayments.net/index.php" method="post">
                                        <input type="hidden" name="cmd" value="_pay">
                                        <input type="hidden" name="reset" value="1">
                                        <input type="hidden" name="want_shipping" value="0">
                                        <input type="hidden" name="merchant" value="983b36ac0d0e695fc9fcb0f09bbd755c">
                                        <input type="hidden" name="currency" value="USD">
                                        <input type="hidden" name="amountf" value="350">
                                        <input type="hidden" name="item_name" value="Test Item">
                                        <input type="hidden" name="allow_extra" value="1">
                                        <input type="hidden" name="success_url" value="https://www.coinpayments.net/index.php?cmd=acct_home">
                                        <input type="hidden" name="cancel_url" value="https://www.coinpayments.net/merchant-tools">
                                        <input type="image" src="https://www.coinpayments.net/images/pub/buynow-white.png" alt="Buy Now with CoinPayments.net">
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-4 text-right">
                            <i class="fa fa-window-restore iconColor ml-2"></i>
                            <i class="fa fa-compress iconColor ml-2"></i>
                            <i class="fa fa-bell-o iconColor ml-2"></i>
                            <i class="fa fa-circle iconColor ml-2" style="color: yellow;"></i>
                            <select class="form-control selectStyle ml-2">
                                <option>{{request.user}}</option>
                            </select>
                            <a href="{% url 'logout' %}"><i class="fa fa-power-off iconColor ml-2"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card p-2" style="margin-top: -3px;">
                <div class="row">
                    <div class="col-12">
                        <span class="eurusdStyle">EURUSD</span>
                        <select class="form-control smallSelectStyle ml-2">
                            <option>FX</option>
                        </select>
                        <select class="form-control smallSelectStyle ml-2">
                            <option>M1</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn smallRedButton">1.06084</button>
                        <button class="btn smallGrayButton">- 1.00 +</button>
                        <button class="btn smallGreenButton">1.06092</button>

                        <span style="color: #455A64;font-size: 14px;">
                            <span class="ml-2">SL/TP</span>
                        <i class="fa fa-line-chart ml-3"></i>
                        <i class="fa fa-search-minus ml-2"></i>
                        <i class="fa fa-search-plus ml-2"></i>
                        <i class="fa fa-arrows ml-2"></i>
                        </span>
                    </div>
                </div>+
                <div class="row">
                    <div class="col-12">
                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div id="tradingview_f56d8" style="height: 59.4vh;"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget({
                                    "autosize": true,
                                    "symbol": "FX:EURUSD",
                                    "interval": "1",
                                    "timezone": "Etc/UTC",
                                    "theme": "light",
                                    "style": "1",
                                    "locale": "en",
                                    "hide_side_toolbar": false,
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": true,
                                    "container_id": "tradingview_f56d8"
                                });
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <button class="btn activeButton">Open positions
                        <i class="fa fa-square-o iconColor ml-2"></i>
                        <i class="fa fa-times iconColor ml-1"></i>
                    </button>

                    <a href="#" class="btn nonActiveButton">Pending Orders</a>

                    <a href="#" class="btn nonActiveButton">History</a>

                    <a href="#" class="btn nonActiveButton">Cash Operations</a>
                    <a href="#" class="btn nonActiveButton">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card" style="overflow-x: auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>POSITION</th>
                                    <th>
                                        <i class="fa fa-filter"></i> TYPE
                                    </th>
                                    <th>VOLUME</th>
                                    <th>OPEN TIME</th>
                                    <th>OPEN PRICE</th>
                                    <th>SL</th>
                                    <th>TP</th>
                                    <th>MARKET PRICE</th>
                                    <th>COMISSION</th>
                                    <th>SWAP</th>
                                    <th>PROFITE</th>
                                    <th>
                                        <select class="form-control selectStyle ml-2" style="background-color: red; color: white;">
                                            <option>Close</option>
                                            <option style="color: white;">Open</option>
                                            <i class="fa fa-chevron-down">
                                                </i></select>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><select class="form-control selectStyle ml-2" id="slt" onchange="random()">
                                <option>Select Currency</option>
                                <option>EUR/USD</option>
                                <option>EUR/CHF</option>
                                <option>EUR/JPY</option>
                                <option>GBP/USD</option>
                                <option>USD/CHF</option>

                            </select></td>
                                    </td>
                                    <td>Sell</td>
                                    <td>1.00</td>
                                    <td id="as1"></td>
                                    <td id="vb1">374.34</td>
                                    <td>+</td>
                                    <td>+</td>
                                    <td id="vb">1.06092</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td class="green-text-color">2.40</td>
                                    <td class="red-text-color">
                                        <i class="fa fa-chevron-down ml-3" style="font-size: 10px;margin-left: 5px;"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>105708901</td>
                                    <td>Sell</td>
                                    <td>1.00</td>
                                    <td id="as2">2017-4-12 15:44:39</td>
                                    <td>374.34</td>
                                    <td>+</td>
                                    <td>+</td>
                                    <td>1.06092</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td class="green-text-color">2.40</td>
                                    <td class="red-text-color">
                                        <i class="fa fa-times ml-3" style="font-size: 10px;margin-left: 5px;"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div style="background: white;overflow-x: auto;">
                <div style="width: max-content;min-width: 100%;">
                    <button class="btn orangebtn mr-3">Open real account</button>

                    <table style="display: inline;">
                        <tr>
                            <td>
                                <div class="mainSpan">
                                    <span class="upperSpan">Balance</span>
                                    <span class="lowerSpan">{{amount}}</span>
                                </div>
                            </td>

                            <td>
                                <div class="mainSpan">
                                    <span class="upperSpan">Equity</span>
                                    <span class="lowerSpan">96,913.97</span>
                                </div>
                            </td>

                            <td>
                                <div class="mainSpan">
                                    <span class="upperSpan">Margin</span>
                                    <span class="lowerSpan">424.59</span>
                                </div>
                            </td>

                            <td>
                                <div class="mainSpan">
                                    <span class="upperSpan">Free Margin</span>
                                    <span class="lowerSpan">424.59</span>
                                </div>
                            </td>

                            <td>
                                <div class="mainSpan">
                                    <span class="upperSpan">Margin Level</span>
                                    <span class="lowerSpan">96,913.97%</span>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div style="display: inline; float: right; margin-top: 10px;">
                        <span class="rightSpan mr-3">Profit <span style="color: #00b276;">{{margin}}</span> USD</span>
                        <i class="fa fa-comments-o mr-3" style="color: #6ccdf9;font-size: 23px;"></i>
                        <i class="fa fa-cog mr-3" style="color: #455A64;font-size: 23px;"> <span class="caret"></span></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        function random() {
            var a = document.getElementById('slt').value;
            if (a === "EUR/USD") {
                var b = document.getElementById('vb').innerHTML = 1.0456;
                var c = document.getElementById('vb1').innerHTML = 345.8;
            } else if (a === "EUR/CHF") {
                var b = document.getElementById('vb').innerHTML = 1.0756;
                var c = document.getElementById('vb1').innerHTML = 321.21;
            } else if (a === "EUR/JPY") {
                var b = document.getElementById('vb').innerHTML = 1.0806;
                var c = document.getElementById('vb1').innerHTML = 571.7;
            } else if (a === "GBP/USD") {
                var b = document.getElementById('vb').innerHTML = 1.0011;
                var c = document.getElementById('vb1').innerHTML = 234.9;
            } else if (a === "USD/CHF") {
                var b = document.getElementById('vb').innerHTML = 1.2345;
                var c = document.getElementById('vb1').innerHTML = 333.2;
            }
            //document.getElementById('vb').innerHTML = a;
        }
    </script>
    <script>
        document.getElementById('button').addEventListener('click', function() {
            document.querySelector('.bg-modal').style.display = 'flex';
        });
        document.querySelector('.close').addEventListener('click', function() {
            document.querySelector('.bg-modal').style.display = 'none';
        });
    </script>

</body>

</html>